{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "sbi-selector/macro.njk" import sbiSelector %}

{% block pageTitle %}
  {{ "Error: " if errors | length }}{{ pageTitle | evaluate }} | {{ name | default(serviceName) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "govuk-header--full-width-border",
    containerClasses: "govuk-width-container",
    rebrand: true
  }) }}

  {{ govukServiceNavigation({ serviceName: name | default(serviceName) , serviceUrl: serviceUrl }) }}

  {{ defraAccountBar({
    businessName: "",
    sbi: auth.sbi | default(""),
    userName: ""
  }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      text: 'This is a new service - your feedback will help us to improve it.'
    }) }}

    {% set isStartPage = currentPage === 'start' %}
    {% if enableSbiSelector and (serviceUrl == '/find-funding-for-land-or-farms' or serviceUrl == '/adding-value') and isStartPage %}

      {{ sbiSelector({
        sbi: auth.sbi | default("")
      }) }}

    {% endif %}
  </div>

  <input type="hidden" id="csrf-token" value="{{ crumb }}">
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% if backLink %}
    {{ govukBackLink(backLink) }}
  {% endif %}
{% endblock %}
